<!DOCTYPE html>
<html lang="ru">
<head>
    <% include ../head %>
</head>
<body class="container">

<header>
    <% include ../header %>
</header>

<main>
    <div align="center">
    <form action="/get" method="get">
        <button type="submit">Click To Parse Wiki</button>
        <button type="submit" formaction="/list">Click To Get Pages by Title from DB</button>
    </form>
    </div>
    <ul>
    <li><h2>If you click on button 'to parse'- program will parse WiKi for random URL 5 times(50 will hard to check for you)</h2></li>
    <li><h2>Then you may see results by clicking on button to 'get pages'(refresh page manually)</h2></li>
    <li><h2>to watch detail parsing you need to click on title of parsed page</h2></li>
    <li><h2>I put this primitive application on heroku, to help you test my task</h2></li>
    <li><h2>Another one, i want to say, that 'contents' appears not in all pages, so i made some corrections</h2></li>
    <li><h2>Database that i use - mongodb online</h2></li>
    <li><h2>GitHub repo - https://github.com/rrLero/wikiParser.git </h2></li>
    </ul>
</main>

<footer>
    <% include ../footer %>
</footer>

</body>
</html>