<!DOCTYPE html>
<html lang="ru">
<head>
    <% include ../head %>
</head>
<body class="container">

<header>
    <% include ../header %>
</header>
<main>
    <p align="center">
    <form action="/get" method="get">
        <button type="submit">Click To Parse Wiki</button>
        <button type="submit" formaction="/list">Click To Get Pages by Title from DB</button>
    </form>
    <p></p>
        <% result.forEach(function(result){ %>
    <ul><a href="/db/<%= result.title %>"><%= result.title %></a></ul>
        <% })%>
    </ul>


</main>

<footer>
    <% include ../footer %>
</footer>

</body>
</html>